<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Title</key>
		<string>Тестовое задание – iOS. Focus Start</string>
		<key>Body</key>
		<string>Привет тому, кто запустил приложение. Это моё тестовое задание на позицию IOS стажировки в компании ЦФТ</string>
		<key>StorageType</key>
		<string>coredata</string>
	</dict>
</plist>
